# sqlzoo.net practice questions
#SELECT from Nobel Tutorial

In [ ]:
#1.Change the query shown so that it displays Nobel prizes for 1950.\
SELECT yr, subject, winner
  FROM nobel
 WHERE yr = 1950

In [ ]:
#2.Show who won the 1962 prize for Literature.
SELECT winner
  FROM nobel
WHERE yr = 1962
   AND subject = 'Literature'

In [ ]:
#3.Show the year and subject that won 'Albert Einstein' his prize.
select yr,subject
from nobel
where winner ='Albert Einstein'

In [ ]:
#4.Give the name of the 'Peace' winners since the year 2000, including 2000.
select winner
from nobel
where yr>=2000 and subject='Peace'